*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #FFD431;
    height: 70vh;
}

.content{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 3rem;
    margin-bottom: 50px;
}

.smile{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.smile > p{
    font-family: 'Orbit', sans-serif;
    color: rgb(0, 0, 0, 0.5);
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: -8px;
}

main > div{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 /* footer */

 footer{
    background-color: #F05553;
    height: 30vh;
}


/* ----------------------------------Laptop---------------------------------- */

@media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1){
        
        main > div{
            padding: 100px;
        }
    
        .arrow-down {
            margin: 0 auto;
            width: 0; 
            height: 0; 
            border-left: 200px solid transparent;
            border-right: 200px solid transparent;
            border-top: 80px solid #FFD431;
          }

    }

    /* ----------------------------------Tablet---------------------------------- */

@media screen
    and (min-device-width: 600px)
    and (max-device-width: 1200px)
    and (-webkit-min-device-pixel-ratio: 1){
    
        main > div{
            padding-top: 200px;
        }
    
        .arrow-down {
            margin: 0 auto;
            width: 0; 
            height: 0; 
            border-left: 150px solid transparent;
            border-right: 150px solid transparent;
            border-top: 70px solid #FFD431;
          }
    

}

    /* ----------------------------------Mobile---------------------------------- */

@media  (min-device-width: 320px) and (max-device-width: 600px){

    main > div{
        padding-top: 100px;
    }
    
    .arrow-down {
        margin: 0 auto;
        width: 0; 
        height: 0; 
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-top: 70px solid #FFD431;
      }

 }